$planet-size: 768px;
// $planet-size: 40vw;
// $planet-size: 15vw;
// $planet-size: 1vw;
// $planet-size: 90vw;
$planet-color: var(--planet-color);
$atmosphere-color: var(--atmosphere-color);
// $atmosphere-thickness: $planet-size * .28;
$atmosphere-thickness: $planet-size * .15;
$atmosphere-outer-thickness: $planet-size * .025;
$atmosphere-inner-thickness: $planet-size * .015;
$inner-size: 90%;

@keyframes planet-spawn {
  0% {
    opacity: 0;
    // filter: brightness(0);
  }

  100% {
    opacity: 1;
    // filter: none;
  }
}

.loading {
  overflow: clip;
  border-radius: 50%;

  .planet {
    filter: brightness(0) blur(5px);
    // filter: blur(5px);
  }
}

.planet-container {
  aspect-ratio: 1;
  max-width: 100vw;
  max-height: 100vh;
}

.planet-sizer {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  aspect-ratio: 1;
  object-fit: contain;
}

.planet {
  position: relative;
  width: $planet-size;
  max-width: 100%;
  // height: $planet-size;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: planet-spawn .5s;
  aspect-ratio: 1;
  max-width: 100%;
  max-height: 100%;

  @media (max-width: 900px) {
    width: 90vw;
    height: 90vw;
  }

  &--clicked {
    .planet {
      &__clouds,
      &__atmosphere,
      &__shadow {
        display: none !important;
      }
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 50%;
    overflow: clip;
    // clip-path: circle(50% at center);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    aspect-ratio: 1;
    max-width: 100%;
    max-height: 100vh;
  }


  &__inner {
    position: relative;
    width: $inner-size;
    height: $inner-size;
    border-radius: 50%;
    background-color: $planet-color;
    // box-shadow: 0 0 100px $atmosphere-color inset;
  }

  &__continent-edges {
    background-color: hsl(0, 0%, 0%);
    mask: var(--beach-mask);
    -webkit-mask: var(--beach-mask);
    mask-position: center center;
    -webkit-mask-position: center center;
    mask-size: cover;
    -webkit-mask-size: cover;
    opacity: .75;
    mix-blend-mode: color-burn;

    // display: none;
  }

  &__oceans {
    // background-color: hsl(240, 85%, 21%);
    background-color: var(--ocean-color);
    mask: var(--ocean-mask);
    -webkit-mask: var(--ocean-mask);
    mask-position: center center;
    -webkit-mask-position: center center;
    mask-size: cover;
    -webkit-mask-size: cover;
  }

  &__detail {
    background-image: var(--detail-img);
    background-position: center center;
    background-size: cover;
    opacity: .65;
    mix-blend-mode: overlay;
    filter: invert(1);
  }

  &__atmosphere,
  &__shadow {
    transform: var(--sunlight-direction);
  }

  &__atmosphere {
    // opacity: .8;
    mask: linear-gradient(0deg, #000 20%, transparent 80%);
    -webkit-mask: linear-gradient(0deg, #000 20%, transparent 80%);

    // display: none;
  }

  &__atmosphere-inner {
    width: $inner-size;
    height: $inner-size;
    top: 5%;
    left: 5%;
    box-shadow: 0 0 $atmosphere-inner-thickness rgba(255, 255, 255, 0.8) inset, 
                0 0 $atmosphere-thickness $atmosphere-color inset, 
                0 0 $atmosphere-outer-thickness $atmosphere-color;
    
  }

  &__shadow {
    width: calc($inner-size + 1px);
    height: calc($inner-size + 1px);
    top: 5%;
    left: 5%;
    overflow: clip;

    // mask: linear-gradient(180deg, #000 40%, transparent 60%);
    // -webkit-mask: linear-gradient(180deg, #000 40%, transparent 60%);
    mask: radial-gradient(circle at bottom, transparent 40%, #000 65%);
    -webkit-mask: radial-gradient(circle at bottom, transparent 40%, #000 65%);

    // display: none;
  }

  &__shadow-inner {
    background-color: hsl(187, 82%, 1%);
    background-color: $atmosphere-color;
    // background-color: #000;
    transform: translate(0, var(--sunlight-distance)) scale(1.25);
    // transform: translate(0%, 70%) scale(2);
    opacity: .9;
    filter: blur(25px);
    filter: brightness(.025) blur(25px);

    // display: none;
  }
}
